.checkout_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .topic {
        color: #d93425;
        font-size: 2rem;
        font-weight: 500;

        display: block;

        padding: 1rem 0;
    }
}

.button_align {
    display: flex;
    justify-content: center;
    align-items: center;
}
